@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: menulis;
  src: url(../fonts/menulis/menulis.ttf);
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: hensa;
  src: url(../fonts/Unisans/Uni-Sans-Thin.otf);
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: speckdisplay;
  src: url(../fonts/Sonder/SonderSans-Black.otf);
}

body {
  /*font-family:Antraste;*/
}

h1 {
  font-family: menulis;
  font-weight: 900!important;
}

h2 {
  font-family: speckdisplay;
  font-weight: 900!important;
}

p {
  font-family: hensa;
  font-weight: 900!important;
}

a {
  transition: all 0.2s linear;
}

a:focus, a:hover {
  color: #1FA4BA!important;
  transition: all 0.2s linear;
  text-decoration: none;
}


/*padding*/

.pad {
  padding-top: 50px;
}

.pad1 {
  padding-left: 10px !important;
}

.pad2 {
  padding-bottom: 50px;
}

.pad3 {
  padding-bottom: 30px;
}

.pad4 {
  padding-right: 10px;
}

.pad5 {
  padding: 10px;
}

.pad6 {
  padding-top: 70px;
}


/*margin*/

.mar {
  margin-top: 10px;
}

.mar1 {
  margin-bottom: 50px;
}

.mar2 {
  margin-top: 50px;
}

.mar3 {
  margin-top: 20px;
}


/*color*/

.col {
  color: #fff!important;
}

.col1 {
  background-color: #3d3d3d;
}

.col2 {
  background-color: #1FA4BA;
}

.col3 {
  color: #1FA4BA;
}

.col4 {
  background-color: #fff!important;
}


/*font-size*/

.font-size1 {
  font-size: 60px;
}

.font-size2 {
  font-size: 20px;
}


/*buttons*/

.btn-success {
  background-color: transparent;
  border: 2px solid #1FA4BA;
  transition: all 0.2s linear;
  color: #1FA4BA;
  border-radius: 0;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
  background-color: #1FA4BA!important;
  border: 2px solid #1FA4BA;
  transition: all 0.2s linear;
  color: #fff!important;
}

.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
  color: #fff;
  background-color: #1FA4BA;
  border: 2px solid #1FA4BA;
}

.btn-primary {
  background-color: #fff;
  border: 2px solid #10101A;
  transition: all 0.2s linear;
  color: #10101A;
  border-radius: 0!important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #10101A!important;
  border: 2px solid #10101A!important;
  transition: all 0.2s linear;
  color: #fff!important;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #D44138;
  opacity: 0.9;
  border: 2px solid #D44138;
}

.btn-danger {
  background-color: #fff;
  border: 2px solid #D44138;
  transition: all 0.2s linear;
  color: #D44138;
  border-radius: 0;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background-color: #D44138!important;
  border: 2px solid #D44138!important;
  transition: all 0.2s linear;
  color: #fff!important;
}

.btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #D44138;
  opacity: 0.9;
  border: 2px solid #D44138;
}


/*text-shadow*/

.text-shadow {
  text-shadow: 0px 0px 13px #1FA4BA;
}


/*box-shadow*/

.box-shadow {
  box-shadow: 0px 0px 13px #1FA4BA;
}

.box-shadow-hover {
  transition: all 0.2s linear;
}

.box-shadow-hover:hover {
  box-shadow: 0px 0px 13px #1FA4BA;
  transition: all 0.2s linear;
}


/*position*/

.pos {
  position: absolute;
  top: 37vh;
  right: 40vh;
  z-index: 1;
  width: 300px;
}

.pos2 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: 1;
}


/*input*/

.input-lg {
  height: 48px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 0px;
  border: 2px solid #10101A;
}


/*input-selection*/

{
  p.yellow::selection, p.yellow::-moz-selection {
    background: #fff2a8;
  }
}


/*nav-tab*/

.nav-tabs {
  border-bottom: 1px solid #1FA4BA;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #333;
  cursor: default;
  background-color: #fff;
  border: 1px solid #1FA4BA;
  border-bottom-color: transparent;
  border-radius: 0;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs.nav-justified>li>a:hover {
  color: #fff !important;
  border: 1px solid #fff;
  border-radius: 0;
}

.nav-tabs.nav-justified>.active>a:hover {
  border-bottom-color: #fff;
  color: #333 !important;
}

.nav-tabs li a {
  color: #333;
}

.navbar-collapse {
  text-align: center;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: 900;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #fff!important;
  border-radius: 0;
}


/*well*/

.well {
  border-radius: 0;
  border: 0;
  box-shadow: 1px 18px 25px -26px #000;
}

.well-transparent {
  background-color: rgba(31, 164, 186, 0.80);
}

.well-transparent2 {
  background-color: rgba(145, 234, 249, 0.32);
}

.well-sticky {
  position: sticky;
  top: 50px;
  z-index: 12;
}


/*Thumbnail*/

.thumbnail {
  border-radius: 0;
}


/*breadcrumb*/

.breadcrumb {
  background-color: transparent;
}

.breadcrumb .active {
  color: #1FA4BA;
}


/* Sweep To Top */

.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1FA4BA;
  box-shadow: 0px 0px 13px #1FA4BA;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}

.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


/*navbar*/

.topbar {
  position: absolute;
  width: 100%;
  display: block;
  min-height: 35px;
  /*background-color: #252525;*/
  /*background-color: #10101A;*/
  padding-top: 10px;
  z-index: 11;
}

.navbar-brand img {
  width: 150px;
  margin-top: -10px;
}

.navbar-custom {
  background-color: #006174;
  margin-top: -10px;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-sticky {
  position: sticky;
  top: 0;
  z-index: 111;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #1FA4BA;
  background-color: #e7e7e7;
}

.dropdown-menu>li>a {
  padding: 3px 10px !important;
  line-height: 40px!important;
}


/*panels*/

.panel {
  border-radius: 0;
}

.panel-title {
  font-size: 18px;
  font-weight: 900;
  color: white;
}

.panel-default {
  box-shadow: 1px 18px 25px -26px #000;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #1FA4BA;
  border-color: #ddd;
  border-radius: 0;
}

.panel-default>.panel-heading a:hover, .panel-default>.panel-heading a:focus {
  color: #fff!important;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex-row;
}

.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';
  /* essential for enabling glyphicon */
  content: "\e114";
  /* adjust as needed, taken from bootstrap.css */
  float: right;
  /* adjust as needed */
  color: #fff;
  /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";
  /* adjust as needed, taken from bootstrap.css */
}

.panel-group .panel {
  border-radius: 0;
}

.panel-sticky {
  position: sticky !important;
  top: 160px !important;
}

.panel-footer {
  background-color: #ECECEC;
}


/*input-form*/

.form-control {
  border: 2px solid #10101A;
  border-radius: 0;
}

.form-control:focus {
  border-color: #10101A;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #10101A;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #10101A;
}

.input-group-addon {
  background-color: transparent;
  border: 2px solid #10101A;
  color: #10101A;
  transition: all 0.2s linear;
}

.input-group-addon:hover {
  background-color: #10101A;
  transition: all 0.2s linear;
  color: #fff;
}

.form-control option {
  padding: 7px;
}

.required label.control-label {
  font-weight: bold;
}

.required label.control-label:after {
  color: #e32;
  content: '*';
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
}


/*carousel*/

#owl-demo {
  background-color: #333;
}

#owl-demo .owl-nav .owl-prev {
  position: absolute;
  background-color: transparent;
  top: 450px;
  left: 30px;
  z-index: 1111111111111;
}

#owl-demo .owl-nav .owl-next {
  position: absolute;
  top: 450px;
  background-color: transparent;
  right: 30px;
  z-index: 11111111111111111111111111111;
}

#owl-demo .item {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
}

.pic {
  height: 100vh;
  width: 100%;
  display: table;
  color: #ffffff;
}

.pic1 {
  background: linear-gradient( rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("../img/item10.jpg ") no-repeat top;
  background-size: cover;
}

.pic2 {
  background: linear-gradient( rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("../img/item20.jpg ") no-repeat top;
  background-size: cover;
}

.pic3 {
  background: linear-gradient( rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("../img/item30.jpg ") no-repeat top;
  background-size: cover;
}

.pic4 {
  background: linear-gradient( rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("../img/item40.jpg ") no-repeat top;
  background-size: cover;
}

.pic5 {
  background: linear-gradient( rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("../img/pic5.jpg ") no-repeat center fixed;
  background-size: cover;
}

.pic6 {
  background: linear-gradient( rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("../img/services.jpg ") no-repeat center fixed;
  background-size: cover;
}

.pic7 {
  background: linear-gradient( rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("../img/Appliances.jpg") no-repeat left, url("../img/washing-machine.png") no-repeat right;
  background-size: ;
}

.pic8 {
  background: linear-gradient( rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("../img/Contact-Us.jpg") no-repeat center fixed;
  background-size: cover;
}

.jumbotron {
  background-color: transparent;
  position: relative;
  top: 15vw;
  left: 0px;
  padding-left: 0px!important;
}


/*Appliances*/

#appliances .product-size {
  max-height: 217.6px;
  padding: 20px;
}


/*Noui Slider*/

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #1FA4BA!important;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}

.noUi-pips {
  color: #fff!important;
}

.noUi-marker-large, .noUi-marker-sub {
  background: #fff!important;
  margin-bottom: 5px;
}

.noUi-marker {
  position: absolute;
  background: #fff!important;
}

.noUi-value-horizontal {
  padding-top: 5px;
}


/*cloud-zoom*/


/* This is the moving lens square underneath the mouse pointer. */

.cloud-zoom-lens {
  border: 4px solid #888;
  /*margin:-4px;	/* Set this to minus the border thickness. */
  */ background-color: #fff;
  cursor: move;
}


/* This is for the title text. */

.cloud-zoom-title {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute !important;
  /*background-color:#000;*/
  color: transparent;
  padding: 3px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  top: 0px;
}


/* cloud zoom wrapper styles */

.cloud-zoom-wrap {
  top: 0;
  z-index: 11;
  position: relative;
}

.cloud-zoom-lens {
  border: 1px solid #1FA4BA;
  box-shadow: 0px 0px 13px #1FA4BA;
}


/* This is the zoom window. */

.cloud-zoom-big {
  border: 1px solid #1FA4BA;
  overflow: hidden;
  margin-left: 10px;
  width: 675px!important;
  height: 610px!important;
  box-shadow: 0px 0px 13px #1FA4BA;
  /*z-index:111111111111111111;*/
}


/* This is the loading message. */

.cloud-zoom-loading {
  color: white;
  background: #222;
  padding: 3px;
  border: 1px solid #000;
}

#product1 .img-size {
  width: 22%;
}

.gallery-sample a.cloud-zoom {
  position: relative;
  display: block;
}

.gallery-sample a.cloud-zoom img {
  display: block;
  width: 500px;
  text-align: center;
}

.recent_list {
  display: -webkit-box;
  list-style: none;
  margin-left: -50px;
}

.recent_list li {
  border: 1px solid #ddd;
  margin: 8px;
}


/*footer*/

#footer hr {
  border-color: #666666;
}

#footer .socials i {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  /*color: white;*/
  transition: all 0.25s linear;
}

#user-comment {
  position: fixed;
  right: 10px;
  bottom: 0;
  z-index: 111;
}

#user-comment .panel-heading .accordion-toggle:after {
  font-family: 'Glyphicons Halflings';
  /* essential for enabling glyphicon */
  content: "\e111"!important;
  /* adjust as needed, taken from bootstrap.css */
  float: right;
  /* adjust as needed */
  color: #fff;
  padding-left: 10px;
}

#user-comment .panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e111"!important;
  padding-left: 10px;
  /* adjust as needed, taken from bootstrap.css */
}

@media only screen and (min-width: 1281px) and (max-width: 1920px) {
  .pos {
    position: absolute;
    top: 37vh;
    right: 16vh;
  }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 993px) and (max-width: 1280px) {
  /*position*/
  .pos {
    position: absolute;
    top: 21vw;
    right: 8vw;
    z-index: 1;
    width: 300px;
  }
  .navbar-default .navbar-nav>li>a {
    padding-left: 10px;
    padding-right: 10px;
  }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 30px;
  }
  .pad3 {
    padding-bottom: 10px;
  }
  .pad9 {
    padding-bottom: 160px;
  }
  .mar1 {
    margin-bottom: 20px;
  }
  /*position*/
  .pos {
    display: none;
  }
  .jumbotron {
    background-color: transparent;
    position: relative;
    text-align: center;
    top: 25vw;
    left: 2vh;
    padding-left: 0px!important;
  }
  .navbar-brand img {
    width: 120px;
    margin-top: -6px;
  }
  .navbar-default .navbar-nav>li>a {
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
  }
  .nav-tabs>li>a {
    font-size: 12px;
  }
  .btn-lg {
    font-size: 10px;
  }
  /*font-size*/
  .font-size1 {
    font-size: 30px;
  }
  .cloud-zoom-big {
    width: 430px!important;
    height: 640px!important;
  }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
  .pad9 {
    padding-bottom: 100px;
  }
  .jumbotron {
    background-color: transparent;
    position: relative;
    text-align: center;
    top: 0vw;
    left: 2vh;
    padding-left: 0px!important;
  }
  .pos2 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 1;
  }
  .width {
    width: 50%;
  }
  .width2 {
    width: 32.3%;
  }
  .panel-heading .accordion-toggle::after {
    float: none;
  }
}

@media only screen and (max-width: 667px) {
  .well-sticky {
    position: relative!important;
    top: 0px;
    z-index: 1;
  }
  .cloud-zoom-big {
    display: none!important;
  }
  .cloud-zoom-lens {
    display: none!important;
  }
  .footer1 img {
    width: 50%;
  }
}

@media only screen and (max-width: 375px) {
  h2 {
    font-size: 20px;
  }
  .nav-tabs>li {
    float: none;
    text-align: center;
    border-bottom: 1px solid #999;
  }
  .jumbotron {
    background-color: transparent;
    position: relative;
    text-align: center;
    top: 20vw;
    left: 2vh;
    padding-left: 0px!important;
  }
  .width, .width2 {
    width: 100%;
  }
  .footer1 img {
    width: 100%;
  }
  .footer2 {
    text-align: center;
    display: block;
  }
  #owl-demo .owl-nav .owl-prev, #owl-demo .owl-nav .owl-next {
    top: 430px;
  }
}
